__pycache__
data/__pycache__
classes/__pycache__
full_report.pdf
evaluation_results.txt
exp_results/*
!exp_results/CNN_curiosity_68_weights.pt
!exp_results/MLP_buffer_target_58_weights.pt
!exp_results/CNN_curiosity.npy
!exp_results/MLP_buffer_target.npy